USE [master]
GO
/****** Object:  Database [ventas1]    Script Date: 17/02/2022 11:04:25 p. m. ******/
CREATE DATABASE [ventas1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ventas1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ventas1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ventas1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ventas1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ventas1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ventas1]
GO
/****** Object:  User [UsuarioConexion]    Script Date: 17/02/2022 11:04:25 p. m. ******/
CREATE USER [UsuarioConexion] FOR LOGIN [UsuarioConexion] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [UsuarioConexion]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 17/02/2022 11:04:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[PK_Producto] [int] IDENTITY(1,1) NOT NULL,
	[Producto] [nvarchar](200) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Disponibilidad] [nvarchar](200) NULL,
	[Precio] [nvarchar](200) NULL,
	[Cantidad] [int] NULL,
	[Total] [nvarchar](20) NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[PK_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 17/02/2022 11:04:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[PK_Usuarios] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido_Paterno] [nvarchar](50) NULL,
	[Apellido_Materno] [nvarchar](50) NULL,
	[Direccion] [nvarchar](200) NULL,
	[Telefono] [numeric](18, 0) NULL,
	[RFC] [nvarchar](11) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[PK_Usuarios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 17/02/2022 11:04:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[PK_Ventas] [int] IDENTITY(1,1) NOT NULL,
	[PK_Producto] [int] NULL,
	[PK_Usuarios] [int] NULL,
	[Producto] [nvarchar](500) NULL,
	[Cantidad] [int] NULL,
	[Usuario] [nvarchar](250) NULL,
	[Fecha] [date] NULL,
	[Forma_Pago] [nvarchar](250) NULL,
	[Total] [nvarchar](250) NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[PK_Ventas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Productos] FOREIGN KEY([PK_Producto])
REFERENCES [dbo].[Productos] ([PK_Producto])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Productos]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Usuario] FOREIGN KEY([PK_Usuarios])
REFERENCES [dbo].[Usuario] ([PK_Usuarios])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Usuario]
GO
USE [master]
GO
